.outer {
  width: 640px;
  height: 640px;
  border: 1px solid lightgray;
}

.outer > div {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: gray;
  margin-left: 10px;
  margin-top: 7px;
}

.outer > .yellow {
  background-color: orange;
}

.yellow > .red {
  width: 66px;
  height: 66px;
  background-color: red;
}